.navbar {
  & ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #006eff;
    background: linear-gradient(
      45deg,
      rgba(0, 110, 255, 1) 0%,
      rgba(255, 221, 183, 0.45) 100%
    );
    border-radius: 10px;
    padding: 4px;
    justify-items: center;
    align-items: center;
  }

  & li {
    float: left;
  }

  & li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  & li a:hover {
    background-color: #111;
  }
}
